.AboutDiv {
  height: 130vh;
  display: grid;
  grid-template-rows: 67% 10% 20%;
  width: 100%;
  margin-top: 0%;
  padding-top: 4%;
  margin-right: auto;
  margin-left: auto;
}

.AboutProfileDiv {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 90%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.AboutProfilePic {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border: black solid 2px;
  box-shadow: 10px 10px rgba(128, 128, 128, 0.893);
}
.AboutProfileInfo {
  text-align: center;
}

.AboutProfileTitle {
  margin-top: 0%;
  font-family: "Poppins", sans-serif;
  font-size: 300%;
  text-decoration: underline;
}

.AboutPara {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.SkillTitleDiv {
  display: flex;
  text-align: center;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.SkillTitle {
  font-size: 300%;
}

.SkillIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: rgba(128, 128, 128, 0.687) 3px solid;
  border-radius: 20px;
  margin-right: 7%;
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.Icon {
  height: 70%;
}
.SkillIconDiv {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .AboutDiv {
    height: 140vh;
    width: 100%;
  }
}
