.Navbar {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.687);
  /* position: fixed; */
  width: 100%;
  top: 0%;
}

.Theodore-Heading {
  margin-left: 10%;
  font-family: "Playfair Display", serif;
  font-size: 300%;
}

.NavLink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 2%;
  margin-left: 10%;
}
#NavLink {
  text-decoration: none;
  color: black;
  font-size: 150%;
  transition: all ease-out 0.2s;
  font-family: "Comic Neue", cursive;
}
#NavLink:hover {
  transform: scale(1.2);
}
