.ProjectGrid {
  height: 170vh;
  display: grid;
  grid-template-rows: 15% 85%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1%;
}

.ProjectGridDiv1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.ProjectGridTitle {
  text-align: center;
  font-size: 400%;
  margin-top: 0%;
  margin-bottom: 4%;
  font-family: "Poppins", sans-serif;
}

.ProjectDiv2 {
  width: 100%;
}
.Project1 {
  display: grid;
  grid-template-columns: 40% 60%;
  border: gray 3px solid;
  border-radius: 25px;
  padding: 3%;
  background-color: white;
  height: 30vh;
}
.Time2Riddle {
  width: 100%;
}
.Project1Info {
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Project1Title {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: "Poppins", sans-serif;
}
.Projectt1Description {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  text-align: center;
}
.ProjectButton {
  width: 30%;
  height: 40px;
  border-color: black;
  border-radius: 40px;
  background-color: white;
  font-family: "Poppins", sans-serif;
}
.ProjectButton:hover {
  background-color: black;
  color: white;
}

.Project2 {
  display: grid;
  grid-template-columns: 40% 60%;
  border: gray 3px solid;
  border-radius: 25px;
  padding: 3%;
  background-color: white;
  margin-top: 5%;
  height: 30vh;
}
.Tech-Care {
  width: 100%;
  height: 65%;
}
.Project2Info {
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Project2Title {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: "Poppins", sans-serif;
}
.Project2Description {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  text-align: center;
}

.Project3 {
  display: grid;
  grid-template-columns: 40% 60%;
  border: gray 3px solid;
  border-radius: 25px;
  padding: 3%;
  background-color: white;
  margin-top: 5%;
  height: 30vh;
}
.Party-On {
  width: 100%;
  height: 100%;
}
.Project3Info {
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Project3Title {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: "Poppins", sans-serif;
}
.Project3Description {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  text-align: center;
}
